@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient {
    border-radius: 1129px;
    opacity: 0.35;
    background: radial-gradient(
      58.15% 110.04% at 46.74% -1.76%,
      rgba(143, 191, 253, 0.5) 0%,
      rgba(38, 72, 122, 0.6) 29.63%,
      rgba(15, 18, 24, 0) 100%
    );
    filter: blur(64px);
  }
}

@layer components {
  .border-gray-custom {
    --tw-border-opacity: 1;
    border-color: rgb(16 24 34 / var(--tw-border-opacity));
}
}

@layer components {
  .bg-gold {
   background-color: #b7a266;
  }
}

/* tailwind.css (or your preferred CSS file) */
@layer components {
  .gradient-background {
    @apply relative;
  }

  .gradient-background::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full pointer-events-none opacity-40 bg-gradient-to-b from-white via-gray-200 to-white;
  }
}
